* {
  box-sizing: border-box;
}

body{
  min-height: 100%;
  /* background: black; */
  color: white;
  text-align: center;
  align-items: center;
  background: url("https://source.unsplash.com/random") fixed;
  background-size: cover;
  font-weight: bold;

}

header{
  width: 100%;

}

a{
  text-decoration: none;
  color: white;
}

footer {
  width: 100%;
  bottom: 0;
  position: fixed;
  padding: 0.5px;
  background: #000b00;
}
